<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.odong.client"
          android:versionCode="20131209"
          android:versionName="v20131209">
    <uses-sdk android:targetSdkVersion="19" android:minSdkVersion="16"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <application android:allowBackup="true" android:hardwareAccelerated="true"
                 android:label="@string/title"
                 android:icon="@drawable/ic_launcher">
        <activity android:name=".MainA"
                  android:label="@string/title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".RssFeedA" android:label="@string/lbl_rss"/>
        <activity android:name=".RssItemA"/>
        <activity android:name=".VideoItemA"/>
        <activity android:name=".BookItemA"/>
        <activity android:name=".ListFeedA"/>

    </application>
</manifest>
