-@title = t('web.title.reading')

-content_for :content
  = javascript_include_tag 'jquery.cookie', 'data-turbolinks-track' => true
  h3
    | #{@title} &nbsp;
    button id="refresh" class="btn btn-lg btn-success" #{t('web.button.refresh')}
  hr
  div class="row" style="margin-bottom: 20px;"
    div class="col-lg-10 col-lg-offset-1"
      div class="input-group"
        span class="input-group-addon"
          label for='url' #{t('web.label.url')}
        input type="text" id='url' class="form-control"
        span class="input-group-btn"
          button id="submit" type="button" class="btn btn-primary" #{t('web.button.new')}
    div id="feeds" class="col-lg-10 col-lg-offset-1"


  javascript:
    $.cookie.json = true;
    var gl_cookie_key = 'feeds';
    var gl_cookie_args = {expires:3650,path: '/'};

    function getFeedId(id) {
      return parseInt(id.split('-')[2]);
    }
    function refreshFeeds() {
      var feeds = $.cookie(gl_cookie_key);
      var len = feeds.urls.length;
      var content = "";
      var i;

      for (i = 0; i < len; i++) {
        content += "<h4 id='feed-title-" + i + "'><a>" + feeds.urls[i] +
                "</a> &nbsp; <div class='btn-group'><button id='feed-view-" + i +
                "' class='btn btn-info'>#{t('web.button.view')}</button><button id='feed-remove-" + i
                + "' class='btn btn-danger'>#{t('web.button.remove')}</button></div></h4><hr/><div id='feed-body-" +
                i + "'></div>";
      }
      $("div#feeds").html(content);
      $("button[id^='feed-remove-']").click(function () {
        feeds.urls.splice(getFeedId($(this).attr('id')), 1);
        $.cookie(gl_cookie_key, feeds, gl_cookie_args);
        showSuccess();
      });
      $("button[id^='feed-view-']").click(function () {
        var id = getFeedId($(this).attr('id'));
        var c = $("div#feed-body-" + id);
        c.toggle();
        $("button#feed-view-" + id).text(c.is(":visible") ? "#{t('web.button.hide')}" : "#{t('web.button.view')}");
      });
      for (i = 0; i < len; i++) {
        refreshFeed(i, feeds.urls[i]);
      }
    }
    function showSuccess() {
      alert("#{t('web.reading.success')}");
    }
    function refreshFeed(id, url) {
      $.post("#{reading_path}", {url: url}, function (result) {
        if (result.ok == true) {
          $("h4#feed-title-" + id + " a").text(result.data[0]);
          var content = "";
          var items = result.data[1];
          var len = items.length;
          for (var i = 0; i < len; i++) {
            var item = items[i];
            content += ("<h4><a href='" + item.link + "' target='_blank'>" + item.title + "</a></h4><hr/><div>" + item.body + "</div>")
          }
          var cv = $("div#feed-body-" + id);
          cv.html(content);
          cv.hide();
        }
        else {
          alert(result.data[0]);
        }
      });
    }

    $(function () {
      var feeds = $.cookie(gl_cookie_key);
      if (feeds == null) {
        feeds = {urls: []};
        $.cookie(gl_cookie_key, feeds, gl_cookie_args);
      }
      $("button#submit").click(function () {
        var urlC = $("input#url");
        if ($.inArray(urlC.val(), feeds.urls) == -1) {
          feeds.urls.push(urlC.val());
          $.cookie(gl_cookie_key, feeds, gl_cookie_args);
          urlC.val('');
          refreshFeeds();
        }
        else {
          alert("#{t('web.reading.url_already_exist')}");
        }
      });

      $("button#refresh").click(function () {
        refreshFeeds();
        showSuccess();
      });
      refreshFeeds();
    });